<%= render "shared/header" %>

<div class = "food-consumption-loss">
  <div class='food-title'>
    <div class='title'>
    消費一覧
    </div>
  </div>
  <ul class = "another-page">
    <li><%= link_to '食品一覧', foods_path, class: "page-menu" %></li>
    <li><%= link_to '廃棄一覧', food_losses_path, class: "page-menu2" %></li>
  </ul>

  <div class='food-contents'>
    <ul class='food-lists'>
      <% @foods.each do |food|%>
        <% if food.user_id == current_user.id && food.status == 1 %>
          <li class='list'>
            <%= link_to edit_food_path(food.id), class: 'food-link' do %>
              <div class='food-img-content'>
                <% if food.image.blank? %>
                  <%= image_tag 'sample.jpg', class: "food-img" %>
                <% else %>
                  <%= image_tag food.image, class: "food-img" if food.image.attached? %>
                <% end %>
              </div>
              <div class='food-info'>
                <div class='food-name'>
                  <div class = 'food-name1'>
                    【食品名】
                  </div>
                  <div class = 'food-name2'>
                    <%= food.name %>
                  </div>
                </div>
                <div class='food-quantity'>
                  <div class = 'food-quantity1'>
                    【数量】
                  </div>
                  <div class = 'ood-quantity2'>
                    <%= food.number %><%= food.quantity.name %>
                  </div>
                </div>
                <div class = 'food-deadline'>
                  <div class = 'food-deadline1'>
                    【賞味･消費期限】
                  </div>
                  <div class = 'food-deadline4'>
                    <%= food.deadline %>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/add_to_btn" %>

<%= render "shared/footer" %>