<%= render "shared/home_header" %>

  <%= image_tag "top_image.jpg", class:"top-image" %>

    <!-- GALLERY -->
    <% if user_signed_in? %>
      <div class="gallery">
        <div class = "gallery-text">
          <h1><span>🍴食品の管理一覧🍴</span></h1>
        </div>
      </div>
      <ul class="gallery-image">
        <li class = "gallery-animation">
          <%= link_to foods_path, class: 'management-image' do %>
            <%= image_tag("480_480.jpg", class: "food-image") %>
            <div class = "image-text" >食品一覧</div>
          <% end %>
        </li>
        <li class = "gallery-animation">
          <%= link_to food_consumptions_path, class: 'management-image' do %>
            <%= image_tag("374411.jpg", class: "consumption-image") %>
            <div class = "image-text">消費一覧</div>
          <% end %>
        </li>
        <li class = "gallery-animation">
          <%= link_to food_losses_path, class: 'management-image' do %>
            <%= image_tag("086354.jpg", class: "loss-image") %>
            <div class = "image-text">廃棄一覧</div>
          <% end %>
        </li>
      </ul>
    <% end %>
    <!-- // GALLERY -->

    <!-- PRODUCT -->
    <div class = "product">
      <div class = "product-name">
        <a id =  "nav-product">🍴Seaweedとは🍴</a>
      </div>
    </div>
    <div class = "product-main">
      <div class = "product-text">
        <br>
        <span>ご家庭の食品を管理できるアプリです。</span><br>
        <br>
        冷蔵庫などの食品をご登録いただくことで、食品の一括管理ができます。<br>
        <br>
        また、消費/廃棄した食品も、食品の状態にチュックを入れるだけで、それぞれの一覧ページで一括管理ができます。<br>
        <br>
        さぁ、あなたもこのアプリを活用して、食品を管理する習慣を身に付けよう！<br>
        <br>
        <p>※新規登録後に、管理一覧が表示されます。</p><br>
      </div>
      <div calss = "product-image">
        <%= image_tag("reizouko.jpg", class: "deco-image") %>
      </div>
    </div>
    <!-- // PRODUCT -->

    <!-- MESSAGE -->
    <div class="message">
      <div class = "message-name">
        <a id = "nav-message">🍴Seaweedの思い🍴</a>
      </div>
    </div>

    <div class = "message-main">
      <div>
        <%= image_tag("seaweed.jpg", class: "deco-image") %>
      </div>
      <div class="message-text1">
        <br>
        <span>1人1人のユーザーが食品廃棄ロスの削減を目指し、ご家庭の食材を管理することで、全ての人が、SDGsへの関心・貢献の意識を持てる社会を目指します。</span><br>
        <br>
        アプリ名のSeaweed（シーウィード）とは、海藻という意味です。<br>
        <br>
        海藻は地球上の約2/3の酸素を、光合成によって生み出してくれていることはご存知でしょうか？<br>
        <br>
        私たちも一丸となり、「地球環境を守ろう」という思いを込めて、この名前をつけさせていただきました。<br>
        <br>
      </div>
    </div>

    <div class = "message-main">
      <div class="message-text2">
        <br>
        SDGsとは？<br>
        Sustainable Development Goals（持続可能な開発目標）」の略称のことです。<br>
        <br>
        2015年9月の国連サミットで採択され、国連加盟193ヶ国が2016年〜2030年の15年間で達成するために掲げた、17の目標と、具体的な169のターゲットで構成されています。<br>
        <br>
        今回その中でも、1人1人が今日から取り組むことのできる、<span>「12. つくる責任、つかう責任&emsp;持続可能な消費と生産パターンを確保する」</span>という目標にフォーカスしました。<br>
        <br>
      </div>
      <div>
        <%= image_tag("sdgs.jpg", class: "deco-image") %>
      </div>
    </div> 

    <div class = "message-main">
      <div>
        <%= image_tag("gomi.jpg", class: "deco-image") %>
      </div>
      <div class="message-text3">
        <br>
        日本で発生している食品ロスの半数近くが家庭から出ております。<br>
        <br>
        この食品ロスを削減することで得られるものとしては、<br>
        <br>
        ・食料を得られない人の手にも行き渡ること。<br>
        ・食品廃棄処理から発生する、温室効果ガスを減らし、環境の負担を削減できること。<br>
        ・SDGsの目標達成に貢献できること。<br>
        <br>
        上記などが挙げられます。<br>
        <br>
        この家庭から出る食品ロスを削減するために、一人一人が意識的に行動することが求められております。<br>
        <br>
        <span>持続可能な地球・社会の実現、そして、私たちの未来を守るための行動を共に進めて行きましょう！！</span><br>
        <br>
      </div>
    </div>
    <!-- // MESSAGE -->

    <!-- NEWS -->
    <div class="news">
      <div class = "news-name">
        <a id = "nav-news">🍴更新情報・お知らせ🍴</a>
      </div>
    </div>
    <div class="all-news-text">
      <ul class = "news-text">
        <li class ="news-text1">2021/03/08&emsp;&emsp;seaweedアプリケーションの実装をスタートしました。</li>
        <li class ="news-text2">2021/03/10&emsp;&emsp;(仮)ユーザー管理機能を追加しました。</li>
        <li class ="news-text2">2021/03/15&emsp;&emsp;(仮)食品管理機能を追加しました。</li>
        <li class ="news-text2">2021/03/23&emsp;&emsp;(仮)買い物メモ機能を追加しました。</li>
        <li class ="news-text2">2021/03/26&emsp;&emsp;seaweedアプリケーションをリリースしました。</li>
      </ul>
    </div>
    <!-- // NEWS -->

  <%= render "shared/add_to_btn" %>
  
  <%= render "shared/footer" %>
