<%= render "shared/header" %>

<div class = "food">
  <div class='food-title'>
    <div class='title'>
    食品一覧
    </div>
  </div>
  <div class = "link">
    <div class = 'link-title'>
      ユーザー同士でオリジナルレシピを共有しよう！！
      <br>
      <div class = "recipes">
        <%= link_to 'レシピ共有ページ', recipes_path, class: "link-deco" %>
      </div>
      <br>
      おすすめレシピサイト&nbsp;<span>※外部サイトへのリンク</span>
    </div>
    <ul class = "link-cook">
      <li><a href = "https://www.sirogohan.com/sp/" class = "link-deco" target = "_blank" rel="noopener noreferrer">白ごはん.com</a></li>
      <li><a href = "https://cookpad.com/" class = "link-deco" target = "_blank" rel="noopener noreferrer">クックパッド</a></li>
      <li><a href = "https://www.kurashiru.com/" class = "link-deco" target = "_blank" rel="noopener noreferrer">kurashiru</a></li>
    </li>
  </div>
  <div class = "sort-page">
    <%# <div class = "sort">
    </div> %>
    <ul class = "another-page">
      <li><%= link_to '買い物メモ', posts_path, class: "page-menu1" %></li>
      <li><%= link_to '消費一覧', food_consumptions_path, class: "page-menu1" %></li>
      <li><%= link_to '廃棄一覧', food_losses_path, class: "page-menu2" %></li>
    </ul>
  </div>
  <div class = "caution">
    <div calss = "caution-text">
      ※賞味/消費期限については、<span class = "blue">【青色：期限が切れる3日以内】</span>/<span class = "red">【赤色：期限切れ】</span>で表示されます。<br>
      ※食品を消費/廃棄したら、該当の食品をクリックし、編集ページで消費/廃棄にチェックを入れてください。
    </div>
  </div>

  <div class='food-contents'>
    <ul class='food-lists'>
      <% @foods.each do |food|%>
        <% if food.user_id == current_user.id && food.status == 0 %>
          <li class='list'>
            <%= link_to edit_food_path(food.id), class: 'food-link' do %>
              <div class='food-img-content'>
                <% if food.image.blank? %>
                  <%= image_tag 'sample.jpg', class: "food-img" %>
                <% else %>
                  <%= image_tag food.image, class: "food-img" if food.image.attached? %>
                <% end %>
              </div>
              <div class='food-info'>
                <div class='food-name'>
                  <div class = 'food-name1'>
                    【食品名】
                  </div>
                  <div class = 'food-name2'>
                    <%= food.name %>
                  </div>
                </div>
                <div class='food-quantity'>
                  <div class = 'food-quantity1'>
                    【数量】
                  </div>
                  <div class = 'food-quantity2'>
                    <%= food.number %><%= food.quantity.name %>
                  </div>
                </div>
                <div class = 'food-deadline'>
                  <div class = 'food-deadline1'>
                    【賞味･消費期限】
                  </div>
                  <% if food.deadline < Date.today %>
                    <div class = 'food-deadline2'>
                      <%= food.deadline %>(期限切れ)
                    </div>
                  <% elsif food.deadline <= Date.today.days_since(2) %>
                    <div class = 'food-deadline3'>
                      <%= food.deadline %>(3日以内)
                    </div>
                  <% else %>
                    <div class = 'food-deadline4'>
                      <%= food.deadline %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/add_to_btn" %>

<%= render "shared/footer" %>