<%= render "shared/header" %>

<%# 商品一覧 %>
  <div class='food-title'>
    <div class='title'>
    冷蔵庫の食品一覧
    </div>
    <div class = 'new-food'>
      <%= link_to '食品追加', new_food_path, class: "new-food1" %>
    </div>
  </div>

  <div class='food-contents'>
    <ul class='food-lists'>
      <% @foods.each do |food|%>
        <% if food.user_id == current_user.id && (food.status == 0 || food.status == 1) %>
          <li class='list'>
            <%= link_to edit_food_path(food.id), class: 'food-link' do %>
              <div class='food-img-content'>
                <% if food.image.blank? %>
                  <%= image_tag 'sample.jpg', class: "food-img" %>
                <% else %>
                  <%= image_tag food.image, class: "food-img" if food.image.attached? %>
                <% end %>
              </div>
              <div class='food-info'>
                <div class='food-name'>
                  <div class = 'food-name1'>
                    【食品名】
                  </div>
                  <div class = 'food-name2'>
                    <%= food.name %>
                  </div>
                </div>
                <div class='food-quantity'>
                  <div class = 'food-quantity1'>
                    【数量】
                  </div>
                  <div class = 'ood-quantity2'>
                    <%= food.number %><%= food.quantity.name %>
                  </div>
                </div>
                <div class = 'food-deadline'>
                  <div class = 'food-deadline1'>
                    【賞味･消費期限】
                  </div>
                  <% if food.deadline < Date.today %>
                    <div class = 'food-deadline2'>
                      <%= food.deadline %>(期限切れ)
                    </div>
                  <% elsif food.deadline <= Date.today.days_since(3) %>
                    <div class = 'food-deadline3'>
                      <%= food.deadline %>(3日以内)
                    </div>
                  <% else %>
                    <div class = 'food-deadline4'>
                      <%= food.deadline %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= render "shared/add_to_btn" %>
<%# /商品一覧 %>